// Colors

$bk-white: rgb(255, 255, 255);
$bk-gray: rgb(34, 36, 43);
$bk-yellow: rgb(210, 242, 27);
$bk-steel-blue: rgb(52, 138, 167);

// Font colors

$bk-font-white: $bk-white;
$bk-font-main: $bk-gray;