.footer {
    background-color: $bk-gray;
    color: $bk-font-white;
    padding: 4.5rem;
    text-align: center;
    border-bottom: 1rem solid $bk-yellow;
    &__disc {
        font-size: .750rem;
        margin-top: 2rem;
        text-align: center;
    }
    &__logo {
        display: block;
        margin: 2rem auto;
        width: 10rem;
        height: auto;
    }
}

 .social-widget {
        display: inline-flex;
        & a {
            margin: 0 1rem;
        }
        &__icon {
            display: block;
            height: auto;
            width: 2.500rem;
            opacity: .7;
            &:hover {
                transition: opacity ease-in 140ms;
                opacity: 1;
            }
        }
    }
