@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import './helpers/vars',
        './helpers/mixin';

@import '_settings';

@import './mods/_headings',
        './mods/_buttons';

@import './layout/_header',
        './layout/_news',
        './layout/_about',
        './layout/_sponsors',
        './layout/_contact',
        './layout/_footer';

// root settings for body and html

body {
    background: $bk-white;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 16px;
}